@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
$clr-background: hsl(210, 46%, 95%);
$clr-primary: hsl(217, 19%, 35%);
$clr-secondary: hsl(212, 23%, 69%);
$clr-active: hsl(214, 17%, 51%);

@mixin min-width {
  @media screen and (min-width: 576px) {
    @content;
  }
}
html {
  font-family: 'Manrope', sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}
body {
  background-color: $clr-background;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
}
.article-preview {
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  min-width: 33rem;
  @include min-width() {
    flex-direction: row;
    max-width: 73rem;
  }
  &__image {
    flex: 1;
    & img {
      border-radius: 1.5rem 1.5rem 0 0;
      height: 100%;
      object-fit: cover;
      @include min-width() {
        border-radius: 1.5rem 0 0 1.5rem;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 2rem;
    padding: 2rem 3.5rem;
  }
  &__title {
    color: $clr-primary;
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 2rem;
    @include min-width() {
      font-size: 2rem;
      padding-right: 2rem;
    }
  }
  &__desc {
    color: $clr-secondary;
    font-size: 1.3rem;
    line-height: 1.5;
    @include min-width() {
      font-size: 1.4rem;
      padding-right: 2rem;
    }
  }
  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    position: relative;
  }
  &__author {
    align-items: center;
    display: flex;
    justify-content: space-between;
    & img {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
    }
    &-info {
      margin-left: 1.5rem;
      & .author-name {
        color: $clr-primary;
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        @include min-width() {
          font-size: 1.4rem;
        }
      }
      & .publish-date {
        color: $clr-secondary;
        @include min-width() {
          font-size: 1.3rem;
        }
      }
    }
  }
  &__button {
    background-color: $clr-background;
    border: none;
    border-radius: 50%;
    color: $clr-primary;
    cursor: pointer;
    font-size: 2rem;
    height: 3.5rem;
    padding: 0.5rem;
    transition: all 0.25s ease;
    width: 3.5rem;
    &:hover,
    &.active {
      background-color: $clr-active;
      color: $clr-background;
    }
    @include min-width() {
      margin-right: 1.5rem;
    }
  }
  &__share {
    z-index: 1;
    &-options {
      align-items: center;
      background-color: $clr-primary;
      border-radius: 0 0 1.5rem 1.5rem;
      bottom: -2rem;
      display: flex;
      gap: 1.5rem;
      left: -3.5rem;
      padding: 2rem 3rem;
      position: absolute;
      top: -2rem;
      transform: translateY(50%) scale(0);
      transition: all 0.25s ease;
      visibility: hidden;
      width: calc(100% + 7rem);
      z-index: -1;
      @include min-width() {
        border-radius: 1.5rem;
        bottom: 0;
        left: 23.5rem;
        top: -3rem;
        width: 25rem;
        &::after {
          background-color: $clr-primary;
          content: '';
          height: 1.5rem;
          left: 50%;
          position: absolute;
          top: 100%;
          transform: translate(-50%, -60%) rotate(45deg);
          width: 2rem;
        }
      }
      &.active {
        transform: translateY(0) scale(1);
        visibility: visible;
        @include min-width() {
          transform: translateY(-100%) scale(1);
        }
      }
      & span {
        color: $clr-secondary;
        letter-spacing: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
